.about__wrapper {
  min-height: calc(100vh - 251px);
  padding-top: 150px;
}

.about__textblock {
  padding: 50px 0;

  p {
    margin-bottom: 25px;
    font-size: 20px;
    text-align: justify;
  }

  li {
    margin-bottom: 10px;
    margin-left: 50px;
    font-size: 20px;
    list-style-type: disc;
    text-align: justify;
  }

  .about__list {
    display: flex;
    gap: 25px;

    img {
      height: 300px;
      margin-bottom: 25px;
    }
  }
}
