.contacts__wrapper {
  min-height: calc(100vh - 251px);
  padding-top: 150px;
}

.contacts__contactblock {
  padding: 50px 0;
}

.contacts__topic {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.contacts__cardblock {
  display: flex;
  justify-content: space-between;

  .contacts__card {
    min-width: 420px;
    padding: 19px 83px 24px 18px;
    border-radius: 12px;
    box-shadow: var(--shadow-white);

    .contacts__card_title {
      margin-bottom: 15px;
      font-size: 28px;
    }

    .contacts__card_topic {
      color: var(--gray-cokor);
      font-size: 20px;
    }

    .contacts__card_phone {
      margin-bottom: 12px;
    }

    .contacts__card_link {
      color: var(--black-color);
      cursor: pointer;
      font-size: 22px;
      font-weight: 400;
      text-decoration: none;
      white-space: nowrap;

      &:active,
      &:hover {
        color: var(--green-color);
      }
    }
  }
}
