.wrapper__background {
  width: 100%;
  background: #008a3f;
}

.footer {
  display: grid;
  align-items: start;
  padding: 25px 0;
  gap: 35px;
  grid-template-columns: repeat(4, 1fr);
}

.footer__logo {
  display: grid;
}

.footer__logo_img {
  height: 50px;
  margin-bottom: 5px;
}

.footer__logo_title {
  margin-bottom: 10px;
  color: #fff;
}

.footer__logo_description {
  margin-bottom: 10px;
  color: #c7c6c6;
  font-size: 14px;
}

.footer__logo_rule {
  color: #fff;
  font-size: 12px;
}

.footer_nav {
  display: grid;
  align-items: center;
  justify-content: center;
}

.footer__nav_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.footer__nav_link {
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;

  &:active,
  &:hover {
    color: #f5c000;
  }
}

.footer__contact {
  display: grid;
  justify-content: end;
  gap: 6px;
}

.footer__contact_connect {
  display: flex;
  gap: 10px;

  img {
    width: 20px;
    height: 20px;
    margin-top: 2px;
  }
}

.footer__contact_link {
  color: #fff;
  text-decoration: none;
  white-space: nowrap;

  &:active,
  &:hover,
  &:focus {
    color: #f5c000;
  }
}

.footer__contact_address {
  color: #fff;
}
