.wrapper__background {
  width: 100%;
  background: #008a3f;
}

.footer {
  display: grid;
  align-items: center;
  padding: 25px 0;
  gap: 35px;
  grid-template-columns: repeat(3, 1fr);
}

.footer__logo {
  display: grid;
  align-items: center;
  justify-content: start;
}

.footer__logo_img {
  height: 50px;
}

.footer_nav {
  display: grid;
  align-items: center;
  justify-content: center;
}

.footer__nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.footer__nav_link {
  color: #6d6d6d;
  cursor: pointer;
  font-size: 22px;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;

  &:active,
  &:hover,
  &:focus {
    color: #008a3f;
  }
}

.footer__contact {
  display: grid;
  align-items: center;
  justify-content: end;
}

.footer__contact_connect {
  display: flex;
  gap: 10px;

  img {
    margin-top: 2px;
  }
}

.footer__contact_link {
  color: #6d6d6d;
  text-decoration: none;
  white-space: nowrap;

  &:active,
  &:hover,
  &:focus {
    color: #008a3f;
  }
}
